.catalog-home {
    padding: 20px 13px;
}

@media (min-width: 400px) {
    .catalog-home {
        padding: 20px 20px;
    }
}

@media (min-width: 1280px) {
    .catalog-home {
        padding: 20px 150px;
    }
}