.home-container {
  padding: 10px;
}

.home-top-card-container {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: rgba(0, 0, 0, 0.25);
  background-color: #00285f;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.home-content-text-container {
  text-align: center;
  font-size: 23px;
  margin-bottom: 25px;
}

.home-content-text-container h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 1em;
}

.home-content-text-container p {
  font-weight: 400;
  font-size: 0.6em;
  color: #ffffff;
  margin: 0px;
  text-align: center;
  padding: 0px 21px;
}

.home-image-container {
  display: flex;
  justify-content: center;
  padding: 0px 20px;
}

.home-image-container svg {
  width: 280px;
  height: auto;
}

.home-bottom-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 123px;
  margin-top: 30px;
  background-color: #ededed;
  border-radius: 10px;
}

.home-bottom-card-container p {
  color: #585858;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  padding: 51px 62px 51px 16px;
}

@media (min-width: 576px) {
  .home-container {
    padding: 20px;
  }

  .home-image-container svg {
    width: 360px;
  }

  .home-content-text-container {
    font-size: 36px;
    margin-bottom: 35px;
  }

  .home-content-text-container p {
    font-size: 0.5em;
    padding: 0px 41px;
  }
}

@media (min-width: 768px) {
  .home-top-card-container {
    justify-content: center;
    height: 475px;
  }

  .home-image-container svg {
    width: 400px;
    margin-top: 79px;
  }

  .home-content-text-container {
    font-size: 38px;
  }

  .home-content-text-container h1 {
    padding-top: 37px;
  }

  .home-content-text-container p {
    padding: 0px 163px 56px 145px;
  }

  .home-bottom-card-container {
    justify-content: start;
    padding-left: 25px;
  }

  .home-bottom-card-container p {
    font-size: 18px;
    padding: 51px 52px 51px 5px;
  }
}

@media (min-width: 992px) {
  .home-top-card-container {
    height: 579px;
  }

  .home-image-container svg {
    width: 455px;
    margin-top: 22px;
  }

  .home-content-text-container h1 {
    padding-top: 17px;
  }

  .home-content-text-container p {
    padding: 0px 250px;
    font-size: 0.5em;
  }
}

@media (min-width: 1280px) {
  .home-container {
    padding: 30px 151px;
  }

  .home-top-card-container {
    flex-direction: row;
    justify-content: space-evenly;
    height: 365px;
  }

  .home-image-container svg {
    width: 350px;
  }

  .home-content-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
  }

  .home-content-text-container {
    margin-bottom: 0px;
    width: 420px;
  }

  .home-content-text-container h1 {
    text-align: justify;
    padding: 0;
    font-size: 0.82em;
  }

  .home-content-text-container p {
    text-align: justify;
    padding: 0 30px 0 0;
    font-size: 0.45em;
  }
}

@media (min-width: 1600px) {
  .home-top-card-container {
    justify-content: center;
  }

  .home-image-container svg {
    width: 400px;
  }

  .home-content-text-container {
    width: 600px;
  }

  .home-content-text-container h1 {
    font-size: 1em;
  }

  .home-content-text-container p {
    padding: 0 170px 0 0;
    font-size: 0.5em;
  }
}

@media (min-width: 1800px) {
  .home-top-card-container {
    justify-content: space-evenly;
  }

  .home-image-container svg {
    width: 600px;
  }

  .home-content-text-container {
    width: 600px;
  }
  .home-content-text-container h1 {
    font-size: 1.2em;
  }

  .home-content-text-container p {
    padding: 0 90px 0 0;
    font-size: 0.6em;
  }

  .home-bottom-card-container p {
    font-size: 25px;
  }
}

@media (min-width: 1920px) {
  .home-top-card-container {
    height: 60vh;
  }

  .home-image-container svg {
    width: 600px;
  }

  .home-content-text-container {
    width: 700px;
  }

  .home-content-text-container h1 {
    font-size: 1.41em;
  }

  .home-content-text-container p {
    font-size: 0.7em;
  }
}
